
.header{
    display: flex;
    position:relative;
    text-align:center;
    width:cover;
    color:white;
    border:solid red 5px;
    background: url(./image1/headerbackground.png) no-repeat;
    background-size: 100% 100%;
}
.header__info{
    flex:1;
    position:relative;
    margin:4rem 5rem;
    /* background-color: rgba(999,0,0,0.2); */
}

.header__skylogo{
    width: 10rem;
}
.header__commingsoon{
    font-size:3rem;
    position:relative;
    top:-4rem;
    color:white;
    text-shadow: -10px 0px 15px #49AADD, 10px 0px 15px #49AADD, 0px 10px 15px #49AADD, 0px -10px 15px #49AADD;
}
.header__introduce{
    font-size:1rem;
    position:relative;
    top:-4rem;
}
.header__wishlist:hover{
    opacity: 0.8;
}
.header__wishlist{
    font-size:2rem;
    position:relative;
    top:-2.5rem;
    background: #6089FF;
    padding: 0.5rem;
    border-radius: 3rem;
    color: white;
    text-decoration-line: none;
    cursor:pointer;
    transition: opacity 0.1s ease;
}
/* Giải thưởng */
.footer{
    background: #455DA1;
    padding: 10%;
}
#footer{
    background: #455DA1;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.footerimg{
    flex:1;
    margin: 2rem;
    width: 2rem;
}
/*time*/
#bodem{
    margin:auto;
    background: rgba(209,203,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 1rem;
}
.time{
    flex-direction:row;
    display: flex;
}

#day,#hour,#minute{
    color:#1e2859;
font-size: 4rem;
}
.item{
    color:#504b71;
    opacity:0.7;
    font-size: 1.5rem;
}

